.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#motorhome {
  width: 60vw;
  margin: 0 auto;
}

.with-inline-img {
  line-height: 2.5rem;
}

.logo-stack {
  height: 2rem;
  vertical-align: middle;
  margin: 0 0.2rem 0 0.5rem;
}

@media screen and (min-width: 1024px) {
  #motorhome {
    width: 20vw;
  }
}
